@font-face {
    font-family: inter;
    src: url(./assets/font/Inter-VariableFont_slnt\wght.ttf);
}

* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

li {
    list-style: none;
}

p {
    font-size: 0.7rem;
}

body {
    background: #333;
    color: #eee;
    min-height: 100vh;
}

nav {
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}

section .header-left, .header-right {
    width: 50%;
}

section .header-left-container h1 {
    font-size: 3rem;
    font-weight: 500;
}
section .header-left-container h3 {
    color: #2158ff;
    margin: 5px 0;
    font-size: 1.8rem;
}

section .header-right img {
    width: 100%;
}

footer {
    background: #111;
    min-height: 200px;
    margin: 0px 5px;
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
}

footer .infos-left {
    width: 30%;
}

footer .btn-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

footer .btn-container button{
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
    margin: 8px 0 0 8px;
    background: #2158ff;
    width: 140px;
    letter-spacing: 1px;
    padding: 10px 0;
    color: #eee;
    
}
footer .infos-right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h3 {
    position: absolute;
    top: 8px;
    font-weight: 500;
    padding-left: 13px;
}

footer .img-container {
    display: flex;
    justify-content: space-around;
    height: 60px;
}

/* ************************* MEDIA QUERIES ****************************** */

@media screen and (max-width: 720px) {
    .header{
        display: block;
    }

    section .header-left, .header-right{
        width: 100%;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    footer .infos-left, .infos-right{
        width: initial;
    }

    footer .infos-left h3, .infos-right h3{
        position: initial;
        padding: 0;
        text-align: center;
    }
    
    footer .btn-container button{
        margin:8px 0 0 0
    }
}